:root{
    --clock-length:500px;
}
.wrapper{
    width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.clock-border{
    padding: 25px;
    
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 25x;
}
.clock{
    width: var(--clock-length);
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border:20px solid rgb(27, 26, 26);
    border-radius: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo{
    position: absolute;
    top: 160px;
    font-size: 25px;
    font-weight: 300;
}
li{
    list-style: none;
    position: absolute;
    height: 100%;
    transform-origin: center;
    font-size: 50px;
}
li:nth-child(1){
    rotate:30deg;
}
li:nth-child(1) div{
    rotate: -30deg;
}
li:nth-child(2){
    rotate: 60deg;
}
li:nth-child(2) div{
    rotate: -60deg;
}
li:nth-child(3){
    rotate: 90deg;
}
li:nth-child(3) div{
    rotate: -90deg;
}
li:nth-child(4){
    rotate: 120deg;
}
li:nth-child(4) div{
    rotate: -120deg;
}
li:nth-child(5){
    rotate: 150deg;
}
li:nth-child(5) div{
    rotate: -150deg;
}
li:nth-child(6){
    rotate: 180deg;
}
li:nth-child(6) div{
    rotate: -180deg;
}
li:nth-child(7){
    rotate: 210deg;
}
li:nth-child(7) div{
    rotate: -210deg;
}
li:nth-child(8){
    rotate: 240deg;
}
li:nth-child(8) div{
    rotate: -240deg;
}
li:nth-child(9){
    rotate: 270deg;
}
li:nth-child(9) div{
    rotate: -270deg;
}
li:nth-child(10){
    rotate: 300deg;
}
li:nth-child(10) div{
    rotate: -300deg;
}
li:nth-child(11){
    rotate: 330deg;
}
li:nth-child(11) div{
    rotate: -330deg;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.hour{
    position: absolute;
    bottom: calc(var(--clock-length)/2);
    background-color: #000;
    border-radius: 40px;
    transform-origin: bottom ;
    width: 10px;
    height: 150px;
    animation:rotate 216000s infinite;
}
.hour::after{
    width: 12px;
    height: 50px;
    display: block;
    position: absolute;
    top:100%;
    content: " ";
    background-color: #000;
}

.minute{
    position: absolute;
    bottom: calc(var(--clock-length)/2);
    background-color: #000;
    border-radius: 40px;
    transform-origin: bottom ;
    width: 8px;
    height: 230px;
    animation:rotate 3600s infinite;
}
.minute::after{
    width: 8px;
    height: 50px;
    display: block;
    position: absolute;
    top:100%;
    content: " ";
    background-color:#000;
}
.second{
    position: absolute;
    bottom: calc(var(--clock-length)/2);
    background-color:red;
    border-radius: 40px;
    transform-origin: bottom ;
    width: 4px;
    height: 220px;
    animation:rotate 60s steps(60,end) infinite;
}
.second::after{
    width: 4px;
    height: 50px;
    display: block;
    position: absolute;
    top:100%;
    content: " ";
    background-color: red;
}
.dot{
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #000;
    z-index: 10;
}